[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dtwSat"]
	path = dtwSat
	url = https://github.com/vwmaus/dtwsat
	shallow = true
	registered = true
